<!DOCTYPE html>
<html>
<head>
  <title>jsgame</title>
</head>
<body>
  <canvas id="canvas" width="800px" height="600px">
</canvas>
  <script src="/socket.io/socket.io.js">
</script>
  <script src="/public/bower/jquery/dist/jquery.min.js">
</script>
  <script src="/shared/Util.js">
</script>
  <script src="/public/js/game/Drawing.js">
</script>
  <script src="/public/js/game/Game.js">
</script>
  <script src="/public/js/game/Input.js">
</script>
  <script src="/public/js/game/Sound.js">
</script>
  <script src="/public/js/client.js">
</script>
</body>
</html>
